main{
    max-width: 1280px;
    max-height: 100%;
    margin: 30px auto;
    padding: 15px;
    background-color: #dddddd;
    border-radius: 5px;
}
#title{
    text-align: center;
}
#main > p{

    text-align: center;
}

#img-div{
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ffffff;
}
#image{
    display: block;
    max-width: 100%;
    padding-bottom: 10px;
}
#tibute-info{
    max-width: 600px;
    margin: 0 auto;
}
 h3{
    text-align: center;

}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    
    line-height: 1.6;
  }
    

  li {
    margin: 16px 0;
  }
  
h5{
    text-align: center;
}
