* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: oswald;
    src: url(./Oswald-Bold.ttf);
}

@font-face {
    font-family: poppins;
    src: url(./Poppins-Medium.ttf);
}

li {
    list-style: none;
    display: inline;
    vertical-align: text-top;
    margin: 10px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 50px;
    box-shadow: 0px 2px 2px 0px gray;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0px;
    background-color: #ffffff;

}

a {
    text-decoration: none;
    color: black;
    font-family: poppins !important;
    font-size: 20px;
    color: darkgray;
    border-bottom: 5px solid transparent;
    padding: 3px;
    /* border-radius: 20px; */
    /* font-family: oswald; */
    /* opacity: 0.4; */
    transition: all ease 0.3s;
}

.nav {
    padding-right: 70px;

    /* border: 1px solid rgba(0,0,0,0.03); */
}

a:hover {
    transition: 1s;
    color: black;
    opacity: 1;
    transition: all ease 0.3s;
}


.home {
    color: black;
}

.main {
    display: flex;
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main_content>p {
    color: gray;
    margin: 20px 0px;
}

.main_content > a {
    background-color: green;
    color: #ffffff;
    font-size: 20px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px gray;
}

.main_content>a:hover {
    transition: 0s all ease;
    background-color: rgb(237, 42, 42);
}
.main_img{
    width: 100px;
    height: 100%; 
    margin-right: 30%;
  
}
.main_img > img{
    width: 500px;
    padding-left: 20px;
   
}
.second_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 100px;
    
 
}
.text > span {
    color: crimson;
    padding-bottom: 10px;
}
.text_p{
    color: gray;
    align-items: center;
    padding-top: 20px ;
    padding-bottom: 20px;
}
.text > a{
    background-color: green;
    color: #ffffff;
    font-size: 15px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px gray;
}
.text>a:hover {
    transition: 0s all ease;
    background-color: rgb(237, 42, 42);
}
.ex{
    margin-top: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    justify-content: space-around;
    height: 200px;
    width:100%;
    margin-bottom: 300px;
    margin-top: 30px;
    
}
.card_top_text{
    color: crimson;
    font-family:poppins ;
    text-align: center;
  padding-top: 30px;
}
.card_top_text > h1{
    color: black;
    align-items: center;
}
.card_one,
.card_two ,
.card_three {
background-color: #ffffff;
padding: 10px;
text-align: center;
/* width: 230px; */
box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);;
}
.icon{
    padding: 10px 10px;
    transition: .5s ease-in-out
}
.icon:hover
{
    transition: .5s ease-in-out;
    transform: scale(1.1);
}
.cards_two
{
    display: flex;
    justify-content: center;
    align-items: center;
   
    justify-content: space-around;
    height: 200px;
    width:100%;
    margin-bottom: 200px;
    margin-top: 30px;
}
.card_one_one > img{
    width: 100px;
}
.card_one_one{
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    height: 150px;
  
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%);;
}
.card_one_one > p {
    padding-top: 20px;
    color: green;
}
.list ul li{
    
    padding: 15px;
    border-left: 5px solid lightgray;
    display: block;
    color: gray;
}
.list ul li:hover{
    border-left: 5px solid orange;
    
    background-color: lightgray;
    width: 100%;
}
.list{
   
   scroll-behavior: smooth;
}

.text_two > span{
    color: crimson;
    padding-bottom: 20px;
}
.text_two > p{
    color: gray;
    align-items: center;
 
 
}
.text_two > h1{
    padding-top:10px;
}
.third_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 100px;
}
.text_two > a{
    background-color: green;
    color: #ffffff;
    font-size: 15px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    box-shadow: 0px 2px 2px 0px gray;
}
.text_two>a:hover {
    transition: 0s all ease;
    background-color: rgb(237, 42, 42);
}
